.employee-form-page {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  margin-top: 8rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.employee-form-page h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.employee-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-grid {
  display: grid;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .form-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .form-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.3rem;
  font-weight: bold;
  font-size: 0.9rem;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  outline: none;
}

.form-group textarea {
  min-height: 100px;
}

.full-width {
  grid-column: span 3;
}

button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  background: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
}

button:hover {
  background: #0056b3;
}

.primary-btn {
  margin-top: 1rem;
  /* width: 100%; */
  max-width: 150 px;
  font-size: 1rem;
}

.dynamic-field-row {
  display: flex;
  align-items: center;
  gap: 10px;
  /* margin-bottom: 10px; */
}

.add-btn {
  background: #007bff;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  min-width: 250px;
  margin-top: 8px;
}

.remove-btn {
  background: #dc3545;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 16px;
}

.form-inline-group {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.form-inline-group .form-control-group {
  flex: 1;
  margin-bottom: 0;
}

.srch-btn {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  padding: 0 16px; /* only horizontal padding */
  height: 40px; /* <-- match input height */
  transition: background 0.2s;
  margin-top: 28px;
}

.srch-btn:hover {
  background: #0056b3;
}

.btn-div {
  display: flex;
  justify-content: center;
}

.manager-result {
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  background: #f9f9f9;
  border: 1px solid #ddd;
}
.dept-back-btn {

  background: #8347ad;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
  z-index: 10;      
}