.profile-page {
  max-width: 500px;
  margin: 2rem auto;
  padding: 2rem;
  margin-top: 10rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
}

.profile-page h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #8347ad;
}

.profile-form .form-group {
  margin-bottom: 1rem;
}

.profile-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.profile-form input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

.update-btn {
  width: 100%;
  padding: 0.75rem;
  background: #8347ad;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}

.update-btn:hover {
  background: #6d3891;
}

.message {
  margin-top: 1rem;
  text-align: center;
  font-weight: 500;
}
.profile-image-section {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 0.5rem solid #8347ad;
  color: #8347ad;
}
.section-text{
    margin: 0.6rem 0rem;
    font-weight: bold;
}

.header-tag{
    font-size:x-large;
  font-weight: bold;
}


/* default toast */
.custom-toast {
  border-radius: 8px;
  font-size: 14px;
  color: white;
}

/* success toast */
.Toastify__toast--success {
  background-color: white !important; /* green */
  color: #8347ad !important;
  /* color: #8347ad !important; */
}

/* error toast */
.Toastify__toast--error {
  background-color: white !important; /* green */
  color: #8347ad !important;
}

/* global progress bar */
.Toastify__progress-bar {
  background: #007bff !important; /* blue */
}

/* success toast progress bar */
.Toastify__progress-bar--success {
  background: #8347ad  !important; /* green */
}

/* error toast progress bar */
.Toastify__progress-bar--error {
  background: #dc3545 !important; /* red */
}

