.btn {
  border: none;
  padding: 8px 16px;
  width: 200px;
  background-color: black;
  color: white;
  transition: background-color ease-in 0.2s;
}

.active-btn {
  color: white;
  background-color: rgb(211, 30, 30);
}