

.dynamic-button{
    padding:8px 16px;
    margin: 8px;
    border:none;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
}

.dynamic-button.primary{
    background-color: rgb(49, 113, 240);
    color: white;
}
.dynamic-button.primary:hover{
    background-color: rgb(21, 89, 227);
}
.dynamic-button.secondary{
    background-color: rgb(118, 125, 138);
    color: rgb(26, 25, 25);
}
.dynamic-button.secondary:hover{
    background-color: rgb(172, 178, 190);
}
.dynamic-button.danger{
    background-color: rgb(228, 60, 60);
    color: white;
}
.dynamic-button.danger:hover{
    background-color: rgb(254, 46, 31);
}